<div class="container">
  <div class="flash-message">
    <%= flash[:notice] %>
  </div>
  <div class="show-item1">
    <h4>Title:&nbsp;</h4>
    <p><%= @book.title %></p>
  </div>
  <div class="show-item2">
    <h4>Body:&nbsp;</h4>
    <p><%= @book.body %></p>
  </div>

  <div class="show-link">
    <%= link_to "Edit", "/books/#{@book.id}/edit", class: "nav-link" %>
    |
    <%= link_to "Back", "/books", class: "nav-link" %>
  </div>
</div>


